*, *::before, *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'verdana', sans-serif;
    background: #6a79ff;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.main .content h1 {
    font-size: 4rem;
    font-weight: 900;
}
.content h1 span {
    text-transform: uppercase;
    color: #ffffff;
}
.content h2 {
    font-size: 3rem;
    font-weight: 900;
}
.main .calculator {
    background-color: #fff;
    padding: 100px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ddd;
}
.calculator h1 {
    font-size: 2.5rem;
}
.calculator h1 span {
    text-transform: uppercase;
    color: #6a79ff;
}
.calculator p {
    color: #818181;
    font-size: 14px;
    font-weight: 600;
}
.calculator #form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form > div {
    width: 100%;
    
}
#form .inp {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    outline: none;
    background: #f5f5f5;
    line-height: 50px;
    font-size: 14px;
    transition: .3s;
}
::placeholder {
    font-weight: 600;
}
#form input[type = "submit"] {
    width: 50%;
    background: #6a79ff;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
#form input[type="submit"]:hover {
    background: #fff;
    color: #6a79ff;
}
#form input[type="submit"]:active {
    transform: scale(.9);
}
#form input:hover {
    border: 1px solid #6a79ff;
}
.calculator .show {
    width: 100%;
    margin-top: 20px;
}
.show h1 {
    text-align: center;
    color: #6a79ff;
    font-size: 4rem;
    margin-top: 20px;
}
.show p {
    font-weight: 900;
    color: #818181;
    font-size: 14px;
}
.show .rate {
    margin-top: 30px;
}
.show #healthy {
    text-align: center;
    margin-top: 10px;
}

/* Responsive webdesign */

@media screen and (max-width: 500px) {
    body {
        height: auto;
    }
    .main {
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        gap: unset;
    }
    .content {
        padding: 200px 50px;
    }
    .main .content h1 {
        font-size: 3rem;
    }
    .main .content h2 {
        font-size: 2.2rem;
        margin-top: 10px;
    }
    .main .calculator {
        width: 90%;
        margin: 0 auto;
        padding: 50px 20px;
        margin-bottom: 100px;
        box-shadow: unset;
    }
    .main .calculator h1 {
        font-size: 30px;
    }
    .show #score {
        font-size: 3rem;
    }
}